body{
   background-image: url("assets/To-Oz-and-Back-1 copy.png");
   background-repeat: no-repeat;
   height: 100%;
   margin: 0;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: black;
}



h2{
color: black;
font-family: Apple Chancery, cursive;
font-size: 70px;
}
