body{
   background-image: url("background.png");
   background-repeat: no-repeat;
   height: 100%;
   margin: 0;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: black;
}

h2{
color: rgb(16, 46, 31);
font-family: Apple Chancery, cursive;
font-size: 70px;
}

.pz{
font-size: 30px;
}

p{
  color: rgb(16, 46, 31);
  font-weight: bold;
}

.card{
  background-color:  rgb(40, 131, 86);
  color:white;
}